<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|myData.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="fireservicegame@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="fireservicegame@gmail.com" password="telem2019" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
  </system.net>



</configuration>



